@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #C19072, #D7B9AE);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #331b12ad;
    /* 10px para o lado, 10 px para baixo e 10 px de soft*/
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #ebb08b;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

h2 {
    color: #af6347;
}

p {
    text-align: justify;
}